@model PlanoContaModel
@{
    ViewData["Title"] = "Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">
    <label for="fname">Descrição:</label><br>
    <input type="text" asp-for="Descricao"><br>

    <label for="fname">Tipo:</label><br>
    <input type="text" asp-for="Tipo"><br>

    <button type="submit" class="btn btn-block btn-success">Registrar</button>
</form>
